n8n-bidding-system/workflows/04-commercial-review.json
{
  "name": "04 - Commercial Review Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "bid/commercial-review",
        "httpMethod": "POST",
        
        "options": {}
      },
      "id": "webhook-comm-review",
      "name": "Webhook: Commercial Review",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "bid-commercial-review-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  b.*,\n  r_tech.decision as tech_decision,\n  r_tech.decision_reason as tech_reason,\n  rv_tech.name as tech_reviewer_name\nFROM bids b\nLEFT JOIN reviews r_tech ON b.id = r_tech.bid_id AND r_tech.review_type = 'TECHNICAL'\nLEFT JOIN reviewers rv_tech ON r_tech.assigned_to = rv_tech.id\nWHERE b.id = $1",
        "options": {
          "queryReplacement": "={{ [$json.body.bid_id] }}"
        }
      },
      "id": "postgres-get-bid",
      "name": "Get Bid with Tech Review",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-bidding",
          "name": "Postgres Bidding DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, telegram_chat_id, telegram_username, name, email\nFROM reviewers\nWHERE can_review_commercial = TRUE\nAND is_active = TRUE\nORDER BY RANDOM()\nLIMIT 1",
        "options": {}
      },
      "id": "postgres-get-reviewer",
      "name": "Get Commercial Reviewer",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-bidding",
          "name": "Postgres Bidding DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-reviewer",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      },
      "id": "if-has-reviewer",
      "name": "Reviewer Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO reviews (\n  bid_id, review_type, assigned_to, assigned_at, due_at, sla_hours\n) VALUES (\n  $1, 'COMMERCIAL', $2, NOW(), NOW() + INTERVAL '48 hours', 48\n)\nON CONFLICT (bid_id, review_type) DO UPDATE SET\n  assigned_to = $2,\n  assigned_at = NOW(),\n  due_at = NOW() + INTERVAL '48 hours',\n  decision = 'PENDING',\n  sla_breached = FALSE\nRETURNING id, due_at",
        "options": {
          "queryReplacement": "={{ [\n  $('Get Bid with Tech Review').first().json.id,\n  $('Get Commercial Reviewer').first().json.id\n] }}"
        }
      },
      "id": "postgres-create-review",
      "name": "Create Review Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-bidding",
          "name": "Postgres Bidding DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bids SET\n  status = 'COMMERCIAL_REVIEW',\n  current_reviewer_id = $1,\n  updated_at = NOW()\nWHERE id = $2",
        "options": {
          "queryReplacement": "={{ [\n  $('Get Commercial Reviewer').first().json.id,\n  $('Get Bid with Tech Review').first().json.id\n] }}"
        }
      },
      "id": "postgres-update-status",
      "name": "Update Bid Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-bidding",
          "name": "Postgres Bidding DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('Get Commercial Reviewer').first().json.telegram_chat_id }}",
        "text": "={{ `\\uD83D\\uDCB0 *Commercial Review Required*\\n\\n*Bid:* ${$('Get Bid with Tech Review').first().json.reference_number}\\n*Title:* ${$('Get Bid with Tech Review').first().json.title.replace(/[_*\\[\\]()~\\`>#\\+\\-=|{}.!]/g, '\\\\$&')}\\n*Client:* ${$('Get Bid with Tech Review').first().json.client_name.replace(/[_*\\[\\]()~\\`>#\\+\\-=|{}.!]/g, '\\\\$&')}\\n\\n*Financial Details:*\\n\\u2022 Estimated Value: ${$('Get Bid with Tech Review').first().json.estimated_value ? '$' + Number($('Get Bid with Tech Review').first().json.estimated_value).toLocaleString() : 'Not specified'}\\n\\u2022 Currency: ${$('Get Bid with Tech Review').first().json.currency || 'USD'}\\n\\u2022 Margin: ${$('Get Bid with Tech Review').first().json.margin_percentage ? $('Get Bid with Tech Review').first().json.margin_percentage + '%' : 'Not specified'}\\n\\n*Technical Review:* \\u2705 Approved by ${$('Get Bid with Tech Review').first().json.tech_reviewer_name?.replace(/[_*\\[\\]()~\\`>#\\+\\-=|{}.!]/g, '\\\\$&') || 'Unknown'}\\n\\n*AI Scores:*\\n\\u2022 Win Probability: ${$('Get Bid with Tech Review').first().json.win_probability_score || 'N/A'}%\\n\\u2022 Risk Score: ${$('Get Bid with Tech Review').first().json.risk_score || 'N/A'}%\\n\\n*SLA:* 48 hours\\n\\nPlease review pricing, terms, and margins\\.` }}",
        "replyMarkup": {
          "inline_keyboard": [
            [
              {
                "text": "Approve",
                "callback_data": "={{ `approve_${$('Get Bid with Tech Review').first().json.id}_comm` }}"
              },
              {
                "text": "Revision",
                "callback_data": "={{ `revision_${$('Get Bid with Tech Review').first().json.id}_comm` }}"
              },
              {
                "text": "Reject",
                "callback_data": "={{ `reject_${$('Get Bid with Tech Review').first().json.id}_comm` }}"
              }
            ],
            [
              {
                "text": "View Details",
                "url": "={{ $env.BID_PORTAL_URL || 'https://bids.example.com' }}/bid/{{ $('Get Bid with Tech Review').first().json.id }}"
              }
            ]
          ]
        },
        "additionalFields": {
          "parse_mode": "MarkdownV2"
        }
      },
      "id": "telegram-send-review",
      "name": "Send Review Request",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1340, 200],
      "credentials": {
        "telegramApi": {
          "id": "tenderbirubot",
          "name": "tenderbirubot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE reviews SET\n  notification_message_id = $1,\n  notification_chat_id = $2\nWHERE id = $3",
        "options": {
          "queryReplacement": "={{ [\n  $json.message_id,\n  $json.chat.id,\n  $('Create Review Record').first().json.id\n] }}"
        }
      },
      "id": "postgres-update-message",
      "name": "Store Message ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-bidding",
          "name": "Postgres Bidding DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_log (\n  entity_type, entity_id, action,\n  actor_type, actor_id, actor_name, new_value, source\n) VALUES (\n  'review', $1, 'assigned',\n  'system', $2, $3,\n  $4,\n  'workflow'\n)",
        "options": {
          "queryReplacement": "={{ [\n  $('Create Review Record').first().json.id,\n  $('Get Commercial Reviewer').first().json.id,\n  $('Get Commercial Reviewer').first().json.name,\n  JSON.stringify({\n    review_type: 'COMMERCIAL',\n    bid_id: $('Get Bid with Tech Review').first().json.id,\n    assigned_to: $('Get Commercial Reviewer').first().json.name,\n    due_at: $('Create Review Record').first().json.due_at\n  })\n] }}"
        }
      },
      "id": "postgres-audit",
      "name": "Log Assignment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-bidding",
          "name": "Postgres Bidding DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_ESCALATION_GROUP }}",
        "text": "={{ `\\u26A0\\uFE0F *No Commercial Reviewer Available*\\n\\n*Bid:* ${$('Get Bid with Tech Review').first().json.reference_number}\\n\\nNo active commercial reviewers found\\. Please assign manually\\.` }}",
        "additionalFields": {
          "parse_mode": "MarkdownV2"
        }
      },
      "id": "telegram-no-reviewer",
      "name": "Alert: No Reviewer",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 480],
      "credentials": {
        "telegramApi": {
          "id": "tenderbirubot",
          "name": "tenderbirubot"
        }
      }
    }
  ],
  "connections": {
    "Webhook: Commercial Review": {
      "main": [
        [
          {
            "node": "Get Bid with Tech Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Bid with Tech Review": {
      "main": [
        [
          {
            "node": "Get Commercial Reviewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commercial Reviewer": {
      "main": [
        [
          {
            "node": "Reviewer Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reviewer Found?": {
      "main": [
        [
          {
            "node": "Create Review Record",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Bid Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert: No Reviewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Review Record": {
      "main": [
        [
          {
            "node": "Send Review Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Review Request": {
      "main": [
        [
          {
            "node": "Store Message ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Assignment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "error-handler-workflow"
  },
  "staticData": null,
  "tags": [
    {
      "name": "bidding-system"
    },
    {
      "name": "review"
    },
    {
      "name": "commercial"
    }
  ],
  "triggerCount": 1,
  "versionId": "1.0.0"
}
