n8n-bidding-system/workflows/04-commercial-review.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bid/commercial-review",
        "options": {}
      },
      "id": "49ec30cc-cb77-45ce-9bce-12dbfd30d46b",
      "name": "Webhook: Commercial Review",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        48,
        192
      ],
      "webhookId": "bid-commercial-review-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bids SET status = 'COMMERCIAL_REVIEW', updated_at = NOW() WHERE id = $1 AND status IN ('TECHNICAL_REVIEW', 'SUBMITTED') RETURNING id, status",
        "options": {
          "queryReplacement": "={{ [$json.body?.bid_id || $json.bid_id] }}"
        }
      },
      "id": "update-status-commercial-review",
      "name": "Update Status to COMMERCIAL_REVIEW",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        160,
        192
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-bidding",
          "name": "Postgres Bidding DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  b.*,\n  r_tech.decision as tech_decision,\n  r_tech.decision_reason as tech_reason,\n  rv_tech.name as tech_reviewer_name\nFROM bids b\nLEFT JOIN reviews r_tech ON b.id = r_tech.bid_id AND r_tech.review_type = 'TECHNICAL'\nLEFT JOIN reviewers rv_tech ON r_tech.assigned_to = rv_tech.id\nWHERE b.id = $1",
        "options": {
          "queryReplacement": "={{ [$json.body?.bid_id || $json.bid_id] }}"
        }
      },
      "id": "0b5dd551-11c0-4904-a1cf-76579bf27e28",
      "name": "Get Bid with Tech Review",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        272,
        192
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-bidding",
          "name": "Postgres Bidding DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-tech-approved",
              "leftValue": "={{ $json.tech_decision }}",
              "rightValue": "APPROVED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-tech-approved",
      "name": "Tech Review Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        384,
        192
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, telegram_chat_id, telegram_username, name, email\nFROM reviewers\nWHERE can_review_commercial = TRUE\nAND is_active = TRUE\nORDER BY RANDOM()\nLIMIT 1",
        "options": {}
      },
      "id": "9cf8fcb3-7857-4d9e-b1a8-0d9f7cc759c5",
      "name": "Get Commercial Reviewer",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        496,
        192
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-bidding",
          "name": "Postgres Bidding DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-reviewer",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "3032200d-ba1c-40d9-96ce-9f46194fe546",
      "name": "Reviewer Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        192
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO reviews (\n  bid_id, review_type, assigned_to, assigned_at, due_at, sla_hours\n) VALUES (\n  $1, 'COMMERCIAL', $2, NOW(), NOW() + INTERVAL '48 hours', 48\n)\nON CONFLICT (bid_id, review_type) DO UPDATE SET\n  assigned_to = $2,\n  assigned_at = NOW(),\n  due_at = NOW() + INTERVAL '48 hours',\n  decision = 'PENDING',\n  sla_breached = FALSE\nRETURNING id, due_at",
        "options": {
          "queryReplacement": "={{ [$('Get Bid with Tech Review').first().json.id, $('Get Commercial Reviewer').first().json.id] }}"
        }
      },
      "id": "493f60b3-563b-4c3a-b5a3-2e337c9fdabc",
      "name": "Create Review Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        928,
        80
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-bidding",
          "name": "Postgres Bidding DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bids SET\n  status = 'COMMERCIAL_REVIEW',\n  current_reviewer_id = $1,\n  updated_at = NOW()\nWHERE id = $2",
        "options": {
          "queryReplacement": "={{ [$('Get Commercial Reviewer').first().json.id, $('Get Bid with Tech Review').first().json.id] }}"
        }
      },
      "id": "315fa5fd-7f24-4b98-8f50-23a7d9f34bcf",
      "name": "Update Bid Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1072,
        256
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-bidding",
          "name": "Postgres Bidding DB"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Get Commercial Reviewer').first().json.telegram_chat_id }}",
        "text": "={{ `💰 COMMERCIAL REVIEW REQUIRED\n\n🔖 Bid: ${$('Get Bid with Tech Review').first().json.reference_number}\n📝 Title: ${$('Get Bid with Tech Review').first().json.title}\n🏢 Client: ${$('Get Bid with Tech Review').first().json.client_name}\n\n💵 FINANCIAL DETAILS:\n• Estimated Value: ${$('Get Bid with Tech Review').first().json.estimated_value ? '$' + Number($('Get Bid with Tech Review').first().json.estimated_value).toLocaleString() : 'Not specified'}\n• Currency: ${$('Get Bid with Tech Review').first().json.currency || 'USD'}\n• Margin: ${$('Get Bid with Tech Review').first().json.margin_percentage ? $('Get Bid with Tech Review').first().json.margin_percentage + '%' : 'Not specified'}\n\n✅ Technical Review: Approved by ${$('Get Bid with Tech Review').first().json.tech_reviewer_name || 'Unknown'}\n\n📊 AI SCORES:\n• Win Probability: ${$('Get Bid with Tech Review').first().json.win_probability_score || 'N/A'}%\n• Risk Score: ${$('Get Bid with Tech Review').first().json.risk_score || 'N/A'}%\n\n⏰ SLA: 48 hours\n\nPlease review pricing, terms, and margins.` }}",
        "replyMarkup": {
          "inline_keyboard": [
            [
              {
                "text": "✅ Approve",
                "callback_data": "={{ `approve_${$('Get Bid with Tech Review').first().json.id}_comm` }}"
              },
              {
                "text": "🔄 Revision",
                "callback_data": "={{ `revision_${$('Get Bid with Tech Review').first().json.id}_comm` }}"
              },
              {
                "text": "❌ Reject",
                "callback_data": "={{ `reject_${$('Get Bid with Tech Review').first().json.id}_comm` }}"
              }
            ],
            [
              {
                "text": "🔗 View Details",
                "url": "={{ $env.BID_PORTAL_URL || 'https://bids.example.com' }}/bid/{{ $('Get Bid with Tech Review').first().json.id }}"
              }
            ]
          ]
        },
        "additionalFields": {}
      },
      "id": "7a8d7799-2586-47bc-8528-9bbc5ef0f84f",
      "name": "Send Review Request",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1152,
        80
      ],
      "webhookId": "81715229-8141-4f1a-956d-4330e6e6ad68",
      "credentials": {
        "telegramApi": {
          "id": "telegram-bidding-bot",
          "name": "Bidding Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE reviews SET\n  notification_message_id = $1,\n  notification_chat_id = $2\nWHERE id = $3",
        "options": {
          "queryReplacement": "={{ [$json.message_id, $('Get Commercial Reviewer').first().json.telegram_chat_id, $('Create Review Record').first().json.id] }}"
        }
      },
      "id": "dca82f98-3861-4f69-b1be-ce910509bbc9",
      "name": "Store Message ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1376,
        80
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-bidding",
          "name": "Postgres Bidding DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_log (\n  entity_type, entity_id, action,\n  actor_type, actor_id, actor_name, new_value, source\n) VALUES (\n  'review', $1, 'assigned',\n  'system', $2, $3,\n  $4,\n  'workflow'\n)",
        "options": {
          "queryReplacement": "={{ [$('Create Review Record').first().json.id, $('Get Commercial Reviewer').first().json.id, $('Get Commercial Reviewer').first().json.name, JSON.stringify({review_type: 'COMMERCIAL', bid_id: $('Get Bid with Tech Review').first().json.id, assigned_to: $('Get Commercial Reviewer').first().json.name, due_at: $('Create Review Record').first().json.due_at})] }}"
        }
      },
      "id": "de244b51-c778-4503-869f-8f9e46c64d5f",
      "name": "Log Assignment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1376,
        288
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-bidding",
          "name": "Postgres Bidding DB"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ESCALATION_GROUP }}",
        "text": "={{ `⚠️ COMMERCIAL REVIEW BLOCKED\n\n🔖 Bid: ${$json.reference_number}\n\n❌ Prerequisite not met:\n• Technical Review: ${$json.tech_decision || 'NOT REVIEWED'}\n\nTechnical review must be APPROVED before commercial review.` }}",
        "additionalFields": {}
      },
      "id": "alert-tech-not-approved",
      "name": "Alert: Tech Not Approved",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bidding-bot",
          "name": "Bidding Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ESCALATION_GROUP }}",
        "text": "={{ `⚠️ NO COMMERCIAL REVIEWER AVAILABLE\n\n🔖 Bid: ${$('Get Bid with Tech Review').first().json.reference_number}\n\nNo active commercial reviewers found. Please assign manually.` }}",
        "additionalFields": {}
      },
      "id": "41458987-d54b-4d06-8a46-8ff8a98f1e0d",
      "name": "Alert: No Reviewer",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        752,
        448
      ],
      "webhookId": "29151fe3-451d-4c40-bfab-afac95f36e56",
      "credentials": {
        "telegramApi": {
          "id": "telegram-bidding-bot",
          "name": "Bidding Bot"
        }
      }
    }
  ],
  "connections": {
    "Webhook: Commercial Review": {
      "main": [
        [
          {
            "node": "Update Status to COMMERCIAL_REVIEW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to COMMERCIAL_REVIEW": {
      "main": [
        [
          {
            "node": "Get Bid with Tech Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Bid with Tech Review": {
      "main": [
        [
          {
            "node": "Tech Review Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tech Review Approved?": {
      "main": [
        [
          {
            "node": "Get Commercial Reviewer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert: Tech Not Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commercial Reviewer": {
      "main": [
        [
          {
            "node": "Reviewer Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reviewer Found?": {
      "main": [
        [
          {
            "node": "Update Bid Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert: No Reviewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Review Record": {
      "main": [
        [
          {
            "node": "Send Review Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Bid Status": {
      "main": [
        [
          {
            "node": "Create Review Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Review Request": {
      "main": [
        [
          {
            "node": "Store Message ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Assignment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "9877f8d6e23e16ecfa7b5c7bc18bde445f1a7068b5730107444777faf3e40879"
  }
}