tenderbiru/workflows/03-technical-review.json
{
  "name": "03 - Technical Review",
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ESCALATION_GROUP }}",
        "text": "={{ `⚠️ NO TECHNICAL REVIEWER AVAILABLE\n\n🔖 Bid: ${$('Get Bid Details').first().json.reference_number}\n📝 Title: ${$('Get Bid Details').first().json.title}\n\nNo active technical reviewers found. Please assign manually.` }}",
        "additionalFields": {}
      },
      "id": "da99c13a-3bdd-48a4-b78b-2e74a02d6db9",
      "name": "Alert: No Reviewer",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 496],
      "webhookId": "6af021da-3cfb-4f80-9c2d-b8a444bde028",
      "credentials": {
        "telegramApi": {
          "id": "telegram-bidding-bot",
          "name": "Bidding Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO telegram_notifications (chat_id, chat_type, message_id, message_text, bid_id, notification_type, has_inline_keyboard) VALUES ($1, 'group', $2, $3, $4::uuid, 'escalation_no_reviewer', FALSE)",
        "options": {
          "queryReplacement": "={{ [$env.TELEGRAM_ESCALATION_GROUP, $json.result.message_id, `No technical reviewer for bid ${$('Get Bid Details').first().json.reference_number}`, $('Get Bid Details').first().json.id] }}"
        }
      },
      "id": "log-escalation-notification",
      "name": "Log Escalation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [904, 496],
      "credentials": {
        "postgres": {
          "id": "postgres-bidding",
          "name": "Postgres Bidding DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_log (\n  entity_type, entity_id, action,\n  actor_type, actor_id, actor_name, new_value, source\n) VALUES (\n  'review', $1, 'assigned',\n  'system', $2, $3,\n  $4,\n  'workflow'\n)",
        "options": {
          "queryReplacement": "={{ [$('Create Review Record').first().json.id, $('Normalize Reviewer').first().json.id, $('Normalize Reviewer').first().json.name, JSON.stringify({review_type: 'TECHNICAL', bid_id: $('Get Bid Details').first().json.id, assigned_to: $('Normalize Reviewer').first().json.name, due_at: $('Create Review Record').first().json.due_at})] }}"
        }
      },
      "id": "be671a72-53e8-432c-8bd7-d538ab85349b",
      "name": "Log Assignment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1128, 416],
      "credentials": {
        "postgres": {
          "id": "postgres-bidding",
          "name": "Postgres Bidding DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE reviews SET\n  notification_message_id = $1,\n  notification_chat_id = $2\nWHERE id = $3",
        "options": {
          "queryReplacement": "={{ [$('Send Review Request').first().json.result.message_id, $('Normalize Reviewer').first().json.telegram_chat_id, $('Create Review Record').first().json.id] }}"
        }
      },
      "id": "b9b93d5a-5052-4dfc-8a28-5266a0566139",
      "name": "Store Message ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1128, 208],
      "credentials": {
        "postgres": {
          "id": "postgres-bidding",
          "name": "Postgres Bidding DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO telegram_notifications (chat_id, chat_type, message_id, message_text, bid_id, review_id, notification_type, has_inline_keyboard) VALUES ($1, 'private', $2, $3, $4::uuid, $5::uuid, 'review_assigned', TRUE)",
        "options": {
          "queryReplacement": "={{ [$('Normalize Reviewer').first().json.telegram_chat_id, $('Send Review Request').first().json.result.message_id, `Technical review request for ${$('Get Bid Details').first().json.reference_number}`, $('Get Bid Details').first().json.id, $('Create Review Record').first().json.id] }}"
        }
      },
      "id": "log-review-notification",
      "name": "Log Review Notification",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1128, 312],
      "credentials": {
        "postgres": {
          "id": "postgres-bidding",
          "name": "Postgres Bidding DB"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Normalize Reviewer').first().json.telegram_chat_id }}",
        "text": "={{ `📋 TECHNICAL REVIEW REQUIRED\n\n🔖 Bid: ${$('Get Bid Details').first().json.reference_number}\n📝 Title: ${$('Get Bid Details').first().json.title}\n🏢 Client: ${$('Get Bid Details').first().json.client_name}\n💰 Value: ${$('Get Bid Details').first().json.estimated_value ? '$' + Number($('Get Bid Details').first().json.estimated_value).toLocaleString() : 'Not specified'}\n📅 Deadline: ${new Date($('Get Bid Details').first().json.submission_deadline).toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' })}\n\n📊 AI ANALYSIS:\n• Completeness: ${$('Get Bid Details').first().json.completeness_score || 'N/A'}%\n• Win Probability: ${$('Get Bid Details').first().json.win_probability_score || 'N/A'}%\n• Risk Score: ${$('Get Bid Details').first().json.risk_score || 'N/A'}%\n\n⏰ SLA: 48 hours (Due: ${new Date($('Create Review Record').first().json.due_at).toLocaleString('en-US', { month: 'short', day: 'numeric', hour: 'numeric', minute: '2-digit' })})\n\nPlease review and respond below.` }}",
        "replyMarkup": {
          "inline_keyboard": [
            [
              {
                "text": "✅ Approve",
                "callback_data": "={{ `approve_${$('Get Bid Details').first().json.id}_tech` }}"
              },
              {
                "text": "🔄 Revision",
                "callback_data": "={{ `revision_${$('Get Bid Details').first().json.id}_tech` }}"
              },
              {
                "text": "❌ Reject",
                "callback_data": "={{ `reject_${$('Get Bid Details').first().json.id}_tech` }}"
              }
            ],
            [
              {
                "text": "🔗 View Details",
                "url": "={{ $env.BID_PORTAL_URL || 'https://bids.example.com' }}/bid/{{ $('Get Bid Details').first().json.id }}"
              }
            ]
          ]
        },
        "additionalFields": {}
      },
      "id": "56e67231-0988-4688-8480-e6839f6c4369",
      "name": "Send Review Request",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [904, 208],
      "webhookId": "a3c5e453-0ca3-49a2-b3bb-49f2f1cf9509",
      "credentials": {
        "telegramApi": {
          "id": "telegram-bidding-bot",
          "name": "Bidding Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bids SET\n  status = 'TECHNICAL_REVIEW',\n  current_reviewer_id = $1,\n  updated_at = NOW()\nWHERE id = $2",
        "options": {
          "queryReplacement": "={{ [$('Normalize Reviewer').first().json.id, $('Get Bid Details').first().json.id] }}"
        }
      },
      "id": "36bd6f0f-05ed-411c-b12f-c89c27c51589",
      "name": "Update Bid Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 112],
      "credentials": {
        "postgres": {
          "id": "postgres-bidding",
          "name": "Postgres Bidding DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO reviews (\n  bid_id, review_type, assigned_to, assigned_at, due_at, sla_hours\n) VALUES (\n  $1, 'TECHNICAL', $2, NOW(), NOW() + INTERVAL '48 hours', 48\n)\nON CONFLICT (bid_id, review_type) DO UPDATE SET\n  assigned_to = $2,\n  assigned_at = NOW(),\n  due_at = NOW() + INTERVAL '48 hours',\n  decision = 'PENDING',\n  sla_breached = FALSE\nRETURNING id, due_at",
        "options": {
          "queryReplacement": "={{ [$('Get Bid Details').first().json.id, $('Normalize Reviewer').first().json.id] }}"
        }
      },
      "id": "7e5e5f2f-8b16-4c1e-b980-c90e5ee859b2",
      "name": "Create Review Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 208],
      "credentials": {
        "postgres": {
          "id": "postgres-bidding",
          "name": "Postgres Bidding DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Normalize reviewer result - ensure we always have an item to process\n// even when the database returns 0 rows\nconst items = $input.all();\nif (items.length === 0 || !items[0].json.id) {\n  // No reviewer found - create a null marker\n  return [{ json: { id: null, no_reviewer: true } }];\n}\n// Reviewer found - pass through\nreturn items;"
      },
      "id": "normalize-reviewer",
      "name": "Normalize Reviewer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [160, 320]
    },
    {
      "parameters": {
        "jsCode": "// Code filter: Reviewer Found - continue if reviewer exists\nconst reviewer = $input.first().json;\nif (reviewer && reviewer.id && !reviewer.no_reviewer) {\n  return $input.all();\n}\nreturn [];"
      },
      "id": "code-filter-reviewer-found",
      "name": "Filter: Reviewer Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [272, 208]
    },
    {
      "parameters": {
        "jsCode": "// Code filter: No Reviewer - continue if no reviewer exists\nconst reviewer = $input.first().json;\nif (!reviewer || !reviewer.id || reviewer.no_reviewer) {\n  return $input.all();\n}\nreturn [];"
      },
      "id": "code-filter-no-reviewer",
      "name": "Filter: No Reviewer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [272, 496]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, telegram_chat_id, telegram_username, name, email\nFROM reviewers\nWHERE can_review_technical = TRUE\nAND is_active = TRUE\nORDER BY RANDOM()\nLIMIT 1",
        "options": {}
      },
      "id": "7305754b-9b57-4f43-92e5-0f726033b03b",
      "name": "Get Technical Reviewer",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [48, 320],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "postgres-bidding",
          "name": "Postgres Bidding DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  b.*,\n  r.name as submitter_name,\n  r.email as submitter_email\nFROM bids b\nLEFT JOIN reviewers r ON b.submitted_by = r.id\nWHERE b.id = $1",
        "options": {
          "queryReplacement": "={{ [$json.body.bid_id] }}"
        }
      },
      "id": "74093b73-1764-45bb-ac94-060091f9d98d",
      "name": "Get Bid Details",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-176, 320],
      "credentials": {
        "postgres": {
          "id": "postgres-bidding",
          "name": "Postgres Bidding DB"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bid/technical-review",
        "options": {}
      },
      "id": "79c56403-6846-4f58-b0e1-c84d2decd1a4",
      "name": "Webhook: Technical Review",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 320],
      "webhookId": "bid-technical-review-webhook"
    }
  ],
  "connections": {
    "Send Review Request": {
      "main": [
        [
          {"node": "Store Message ID", "type": "main", "index": 0},
          {"node": "Log Review Notification", "type": "main", "index": 0},
          {"node": "Log Assignment", "type": "main", "index": 0}
        ]
      ]
    },
    "Alert: No Reviewer": {
      "main": [
        [
          {"node": "Log Escalation", "type": "main", "index": 0}
        ]
      ]
    },
    "Update Bid Status": {
      "main": [
        [
          {"node": "Create Review Record", "type": "main", "index": 0}
        ]
      ]
    },
    "Create Review Record": {
      "main": [
        [
          {"node": "Send Review Request", "type": "main", "index": 0}
        ]
      ]
    },
    "Filter: Reviewer Found": {
      "main": [
        [
          {"node": "Update Bid Status", "type": "main", "index": 0}
        ]
      ]
    },
    "Filter: No Reviewer": {
      "main": [
        [
          {"node": "Alert: No Reviewer", "type": "main", "index": 0}
        ]
      ]
    },
    "Normalize Reviewer": {
      "main": [
        [
          {"node": "Filter: Reviewer Found", "type": "main", "index": 0},
          {"node": "Filter: No Reviewer", "type": "main", "index": 0}
        ]
      ]
    },
    "Get Technical Reviewer": {
      "main": [
        [
          {"node": "Normalize Reviewer", "type": "main", "index": 0}
        ]
      ]
    },
    "Get Bid Details": {
      "main": [
        [
          {"node": "Get Technical Reviewer", "type": "main", "index": 0}
        ]
      ]
    },
    "Webhook: Technical Review": {
      "main": [
        [
          {"node": "Get Bid Details", "type": "main", "index": 0}
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {"executionOrder": "v1"},
  "meta": {
    "instanceId": "9877f8d6e23e16ecfa7b5c7bc18bde445f1a7068b5730107444777faf3e40879"
  },
  "tags": [{"name": "bidding-workflow"}, {"name": "code-filter-pattern"}],
  "versionId": "2.1.0"
}
