tenderbiru/workflows/10-harmony-process.json
{
  "name": "10 - Harmony Process",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "path": "harmony/process",
        "httpMethod": "POST",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "harmony-process"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, source, source_tender_id, raw_data FROM raw_tenders WHERE id = $1::uuid",
        "options": {
          "queryReplacement": "={{ [$input.first().json.body?.raw_tender_id || $input.first().json.raw_tender_id] }}"
        }
      },
      "id": "fetch-raw",
      "name": "Fetch Raw Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [350, 300],
      "credentials": {"postgres": {"id": "postgres-bidding", "name": "Postgres Bidding DB"}}
    },
    {
      "parameters": {
        "jsCode": "// Get raw_data from database fetch result\nconst fetched = $input.first().json;\nconst raw = typeof fetched.raw_data === 'string' ? JSON.parse(fetched.raw_data) : (fetched.raw_data || {});\n\n// Parse date from various formats to ISO\nfunction parseDate(dateStr) {\n  if (!dateStr) return null;\n  const str = String(dateStr).trim();\n  \n  // Handle ePerolehan format: \"DD/MM/YYYY HH:MM[:SS] AM/PM\"\n  // e.g., \"03/02/2026 12:00 PM\" or \"03/02/2026 12:00:00 PM\"\n  const eperolehMatch = str.match(/^(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})\\s+(\\d{1,2}):(\\d{2})(?::(\\d{2}))?\\s*(AM|PM)?$/i);\n  if (eperolehMatch) {\n    let [_, day, month, year, hours, mins, secs, ampm] = eperolehMatch;\n    hours = parseInt(hours, 10);\n    secs = secs ? parseInt(secs, 10) : 0;\n    if (ampm) {\n      if (ampm.toUpperCase() === 'PM' && hours < 12) hours += 12;\n      if (ampm.toUpperCase() === 'AM' && hours === 12) hours = 0;\n    }\n    const d = new Date(year, parseInt(month, 10) - 1, parseInt(day, 10), hours, parseInt(mins, 10), secs);\n    return isNaN(d.getTime()) ? null : d.toISOString();\n  }\n  \n  // Handle DD/MM/YYYY (date only)\n  const parts = str.split('/');\n  if (parts.length === 3 && !parts[2].includes(' ')) {\n    const d = new Date(`${parts[2]}-${parts[1]}-${parts[0]}`);\n    return isNaN(d.getTime()) ? null : d.toISOString();\n  }\n  \n  // Try ISO or other standard formats\n  const parsed = new Date(str);\n  return isNaN(parsed.getTime()) ? null : parsed.toISOString();\n}\n\n// Calculate priority score\nconst value = parseFloat(raw.estimated_value) || 0;\nconst deadlineStr = parseDate(raw.closing_date || raw.deadline || raw.submission_deadline);\nconst deadline = deadlineStr ? new Date(deadlineStr) : null;\nconst daysUntil = deadline ? Math.ceil((deadline - new Date()) / (1000*60*60*24)) : 999;\n\nlet score = 0;\nif (value >= 1000000) score += 40;\nelse if (value >= 500000) score += 30;\nelse if (value >= 100000) score += 20;\nelse score += 10;\n\nif (daysUntil <= 3) score += 40;\nelse if (daysUntil <= 7) score += 30;\nelse if (daysUntil <= 14) score += 20;\nelse score += 10;\n\nconst priority = score >= 70 ? 'CRITICAL' : score >= 50 ? 'HIGH' : score >= 30 ? 'MEDIUM' : 'LOW';\n\nreturn [{\n  json: {\n    raw_tender_id: fetched.id,\n    source: fetched.source,\n    source_tender_id: fetched.source_tender_id,\n    title: (raw.title || '').trim(),\n    client_name: (raw.organization || raw.agency || raw.client_name || '').trim(),\n    submission_deadline: deadlineStr,\n    estimated_value: value || null,\n    currency: raw.currency || 'MYR',\n    priority: priority,\n    priority_score: score,\n    days_until_deadline: daysUntil,\n    source_url: raw.source_url || raw.url || null,\n    document_urls: raw.document_urls || [],\n    notes: `Imported from ${fetched.source} via Harmony Pipeline`\n  }\n}];"
      },
      "id": "normalize",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [570, 300]
    },
    {
      "parameters": {
        "jsCode": "// Validate normalized data before creating bid\nconst data = $json;\nconst errors = [];\n\n// Required field: title\nif (!data.title || data.title.trim() === '') {\n  errors.push('missing title');\n}\n\n// Required field: client_name\nif (!data.client_name || data.client_name.trim() === '') {\n  errors.push('missing client_name');\n}\n\n// Required field: submission_deadline must be valid date\nif (!data.submission_deadline) {\n  errors.push('missing submission_deadline');\n} else {\n  const deadline = new Date(data.submission_deadline);\n  if (isNaN(deadline.getTime())) {\n    errors.push('invalid submission_deadline format');\n  } else if (deadline < new Date()) {\n    errors.push('submission_deadline is in the past');\n  }\n}\n\n// Optional: estimated_value must be non-negative if provided\nif (data.estimated_value !== null && data.estimated_value < 0) {\n  errors.push('negative estimated_value');\n}\n\n// Return validation result\nif (errors.length > 0) {\n  return [{ json: { valid: false, error: errors.join(', '), ...data } }];\n}\nreturn [{ json: { valid: true, ...data } }];"
      },
      "id": "validate",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{"value1": "={{ $json.valid }}", "value2": true}]
        }
      },
      "id": "if-valid",
      "name": "If Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bids (\n  title, client_name, submission_deadline, estimated_value,\n  currency, priority, source, source_tender_id, notes,\n  document_urls, status\n) VALUES (\n  $1, $2, $3, $4, $5, $6, 'harmony', $7, $8, $9, 'DRAFT'\n)\nRETURNING id, reference_number, status, created_at",
        "options": {
          "queryReplacement": "={{ [\n  $json.title,\n  $json.client_name,\n  $json.submission_deadline,\n  $json.estimated_value,\n  $json.currency,\n  $json.priority,\n  $json.source_tender_id,\n  $json.notes,\n  $json.document_urls\n] }}"
        }
      },
      "id": "insert-bid",
      "name": "Insert Bid",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 200],
      "credentials": {"postgres": {"id": "postgres-bidding", "name": "Postgres Bidding DB"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE raw_tenders\nSET status = 'processed',\n    bid_id = $1,\n    processed_at = NOW(),\n    raw_data = raw_data || $2::jsonb\nWHERE id = $3::uuid",
        "options": {
          "queryReplacement": "={{ [\n  $('Insert Bid').first().json.id,\n  JSON.stringify({\n    _processed: true,\n    _bid_reference: $('Insert Bid').first().json.reference_number,\n    _priority: $('Validate').first().json.priority,\n    _priority_score: $('Validate').first().json.priority_score\n  }),\n  $('Validate').first().json.raw_tender_id\n] }}"
        }
      },
      "id": "link-bid",
      "name": "Link Raw Tender",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1340, 200],
      "credentials": {"postgres": {"id": "postgres-bidding", "name": "Postgres Bidding DB"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE raw_tenders\nSET status = 'invalid',\n    error_message = $1,\n    processed_at = NOW(),\n    raw_data = raw_data || $2::jsonb\nWHERE id = $3::uuid",
        "options": {
          "queryReplacement": "={{ [\n  $json.error,\n  JSON.stringify({\n    _validation_failed: true,\n    _error: $json.error,\n    _attempted_at: new Date().toISOString()\n  }),\n  $json.raw_tender_id\n] }}"
        }
      },
      "id": "mark-invalid",
      "name": "Mark Invalid",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 400],
      "credentials": {"postgres": {"id": "postgres-bidding", "name": "Postgres Bidding DB"}}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "success", "name": "success", "value": true, "type": "boolean"},
            {"id": "bid_id", "name": "bid_id", "value": "={{ $('Insert Bid').first().json.id }}", "type": "string"},
            {"id": "reference", "name": "reference_number", "value": "={{ $('Insert Bid').first().json.reference_number }}", "type": "string"},
            {"id": "status", "name": "status", "value": "processed", "type": "string"}
          ]
        }
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "success", "name": "success", "value": false, "type": "boolean"},
            {"id": "error", "name": "error", "value": "={{ $json.error }}", "type": "string"},
            {"id": "status", "name": "status", "value": "invalid", "type": "string"},
            {"id": "raw_tender_id", "name": "raw_tender_id", "value": "={{ $('Validate').first().json.raw_tender_id }}", "type": "string"}
          ]
        }
      },
      "id": "invalid-response",
      "name": "Invalid Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Fetch Raw Data", "type": "main", "index": 0}]]},
    "Fetch Raw Data": {"main": [[{"node": "Normalize", "type": "main", "index": 0}]]},
    "Normalize": {"main": [[{"node": "Validate", "type": "main", "index": 0}]]},
    "Validate": {"main": [[{"node": "If Valid", "type": "main", "index": 0}]]},
    "If Valid": {
      "main": [
        [{"node": "Insert Bid", "type": "main", "index": 0}],
        [{"node": "Mark Invalid", "type": "main", "index": 0}]
      ]
    },
    "Insert Bid": {"main": [[{"node": "Link Raw Tender", "type": "main", "index": 0}]]},
    "Link Raw Tender": {"main": [[{"node": "Success Response", "type": "main", "index": 0}]]},
    "Mark Invalid": {"main": [[{"node": "Invalid Response", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "saveManualExecutions": true},
  "staticData": null,
  "tags": [{"name": "harmony-pipeline"}],
  "triggerCount": 1,
  "versionId": "3.1.1"
}
